@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    /* #FFFFFF Pure White */
    --foreground: 0 0 0;
    /* #000000 Black */

    --primary: 139 0 0;
    /* #8B0000 Dark Red */
    --primary-foreground: 255 255 255;

    --secondary: 350 100% 25%;
    /* Maroon */
    --secondary-foreground: 0 0 100%;

    --muted: 245 245 245;
    --muted-foreground: 115 115 115;

    --accent: 250 250 250;
    /* Light Gray */
    --accent-foreground: 139 0 0;

    --card: 255 255 255;
    --card-foreground: 0 0 0;

    --border: 228 228 228;
    --input: 228 228 228;

    --radius: 0.75rem;
  }


}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));
  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));
  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));
  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}